# Data & Analytics

## Programa especializado Ciencia de datos con Python

### Proyecto 01

In [1]:
import numpy as np
import pandas as pd
import random



---

#### Ejercicio N°1:


Escribir un programa que pregunte al usuario o genere las ventas de los últimos 5 días, y muestre por pantalla una serie (Dataframe) con los datos de las ventas por producto (opcional): Nro de unidades y precio unitario, indexada por 
los días, antes y después de aplicarles un descuento del 5%.

In [2]:
np.random.seed(147258369)

filas = 5

data = {
    'Unidades': np.random.randint(100, size=(filas)),
    'Precio_unitario': [0.75] * filas
    }

In [3]:
df_ventas = pd.DataFrame(
    data = data,
    index = pd.date_range(end = "20221115", periods = filas),
    )

In [4]:
df_ventas

            Unidades  Precio_unitario
2022-11-11        76             0.75
2022-11-12        57             0.75
2022-11-13        47             0.75
2022-11-14        73             0.75
2022-11-15        88             0.75

In [5]:
df_ventas['Total_venta_bruta'] = df_ventas['Unidades'] * df_ventas['Precio_unitario']

In [6]:
df_ventas['Descuento'] = (df_ventas['Total_venta_bruta'] * 0.05).round(2)

In [7]:
df_ventas['Total_venta_neta'] = df_ventas['Total_venta_bruta'] - df_ventas['Descuento']

In [8]:
df_ventas

,Unidades,Precio_unitario,Total_venta_bruta,Descuento,Total_venta_neta
2022-11-11,76,0.75,57.00,2.85,54.15
2022-11-12,57,0.75,42.75,2.14,40.61
2022-11-13,47,0.75,35.25,1.76,33.49
2022-11-14,73,0.75,54.75,2.74,52.01
2022-11-15,88,0.75,66.00,3.30,62.70



---

#### Ejercicio N°2:

Escribir un programa que reciba un diccionario con los ingresos mensuales de los clientes de una empresa, y devuelva una serie con el ingreso mínimo, máximo y media.

El resultado final debe ser una serie con los estadísticos.

In [9]:
clientes = ['cliente1', 'cliente2', 'cliente3', 'cliente4', 'cliente5', 'cliente6', 'cliente7', 'cliente8', 'cliente9']

In [10]:
ingresos = [random.randint(450,1000) for cliente in clientes]

In [11]:
dict_empresa = dict(zip(clientes, ingresos))

In [12]:
dict_empresa

{'cliente1': 941,
 'cliente2': 876,
 'cliente3': 633,
 'cliente4': 564,
 'cliente5': 889,
 'cliente6': 845,
 'cliente7': 660,
 'cliente8': 1000,
 'cliente9': 597}

In [13]:
serie_ing = pd.Series(dict_empresa)

In [14]:
serie_ing.min()

564

In [15]:
serie_ing.max()

1000

In [16]:
serie_ing.mean()

778.3333333333334

In [17]:
serie_ing.describe()

count       9.000000
mean      778.333333
std       164.230022
min       564.000000
25%       633.000000
50%       845.000000
75%       889.000000
max      1000.000000
dtype: float64



---

#### Ejercicio Nº 3:

Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la siguiente tabla:

|Mes|Ventas|Gastos|
|---|------|------|
|Enero|30500|22000|
|Febrero|35600|23450|
|Marzo|28300|18100|
|Abril|33900|35700|
|Mayo|42500|32450|

A continuación, generar nuevas columna:
1. Columna 1 = Gasto/Ventas*100.
2. Columna 2 = Si Ventas>= 30000, imprimir “Meta Superada”, caso contrario imprimir “Meta no Superada”.
3. Columna 3 = Si Gasto>Ventas, calcular el sobre gasto.
4. Obtener el total de las ventas de los últimos 3 meses
5. Obtener el total de gastos de febrero a abril

In [18]:
df_ejer3 = pd.DataFrame(
    data = {'Mes': ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo'],
            'Ventas': [30500, 35600, 28300, 33900, 42500],
            'Gastos': [22000, 23450, 18100, 35700, 32450]}
)

In [19]:
df_ejer3

       Mes  Ventas  Gastos
0    Enero   30500   22000
1  Febrero   35600   23450
2    Marzo   28300   18100
3    Abril   33900   35700
4     Mayo   42500   32450

*> Desarrollo punto 1). Agregar la columna 1*

In [20]:
df_ejer3['% Gastos/Ventas'] = ((df_ejer3['Gastos'] / df_ejer3['Ventas']) * 100).round(2)

*> Desarrollo punto 2). Agregar la columna 2*

In [21]:
df_ejer3['Meta'] = np.where(df_ejer3.Ventas >= 30000, 'Meta Superada', 'Meta no Superada')

*> Desarrollo punto 3). Agregar la columna 3*

In [22]:
df_ejer3['Sobre gastos'] = list(map(lambda x: x if x > 0 else 0, list(df_ejer3['Gastos'] - df_ejer3['Ventas'])))

In [23]:
df_ejer3

       Mes  Ventas  Gastos  % Gastos/Ventas              Meta  Sobre gastos
0    Enero   30500   22000            72.13     Meta Superada             0
1  Febrero   35600   23450            65.87     Meta Superada             0
2    Marzo   28300   18100            63.96  Meta no Superada             0
3    Abril   33900   35700           105.31     Meta Superada          1800
4     Mayo   42500   32450            76.35     Meta Superada             0

*> Desarrollo punto 4).*

In [24]:
df_ejer3.iloc[2:, :2].sum()

Mes       MarzoAbrilMayo
Ventas            104700
dtype: object

*> Desarrollo punto 5).*

In [25]:
df_ejer3.iloc[1:4, [0,2]].sum()

Mes       FebreroMarzoAbril
Gastos                77250
dtype: object



---

#### Ejercicio Nº 4:

Con el siguiente fichero Data - Riesgos.csv contiene información de riesgo de clientes de un banco. Escribir un programa con los siguientes requisitos:
1. Generar un DataFrame con los datos del fichero.
2. Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, mostrar las 10 primeras filas y las 10 últimas filas, verificar si tiene datos perdidos/nulos.
3. Extraer las 100 primeras filas y almacenarlas en un contenedor.

In [26]:
#from google.colab import files
#files.upload()

In [27]:
df_riesgos = pd.read_csv('Data - Riesgos.csv')

In [28]:
df_riesgos

,ID,edad,meses,max_ant,ingreso,score,tipo_vivienda,zona,nivel,riesgo
0,2208,33.0,128.0,6.0,3230.00,192.0,2,3.0,2,1
1,2211,32.0,185.0,7.0,2930.00,217.0,2,1.0,5,1
2,2212,28.0,NaN,7.0,1883.70,202.0,2,1.0,2,1
3,2216,56.0,200.0,0.0,850.00,194.0,2,1.0,5,1
4,2218,32.0,131.0,65.0,3200.00,200.0,2,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...
4495,1494,54.0,510.0,87.0,24000.00,214.0,2,1.0,2,0
4496,1495,63.0,305.0,99.0,9880.73,219.0,2,5.0,2,0
4497,1496,48.0,194.0,124.0,23000.00,224.0,4,1.0,2,0
4498,1497,39.0,245.0,121.0,12450.00,240.0,4,5.0,2,0
4499,1499,65.0,674.0,38.0,20000.00,238.0,4,5.0,2,0

In [29]:
df_riesgos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             4500 non-null   int64
 1   edad           4487 non-null   float64
 2   meses          4494 non-null   float64
 3   max_ant        4496 non-null   float64
 4   ingreso        4495 non-null   float64
 5   score          4495 non-null   float64
 6   tipo_vivienda  4500 non-null   int64
 7   zona           4494 non-null   float64
 8   nivel          4500 non-null   int64
 9   riesgo         4500 non-null   int64
dtypes: float64(6), int64(4)
memory usage: 351.7 KB

In [30]:
df_riesgos.columns

Index(['ID', 'edad', 'meses', 'max_ant', 'ingreso', 'score', 'tipo_vivienda',
       'zona', 'nivel', 'riesgo'],
      dtype='object')

In [31]:
df_riesgos.dtypes

ID                 int64
edad             float64
meses            float64
max_ant          float64
ingreso          float64
score            float64
tipo_vivienda      int64
zona             float64
nivel              int64
riesgo             int64
dtype: object

In [32]:
df_riesgos.head(10)

,ID,edad,meses,max_ant,ingreso,score,tipo_vivienda,zona,nivel,riesgo
0,2208,33.0,128.0,6.0,3230.0,192.0,2,3.0,2,1
1,2211,32.0,185.0,7.0,2930.0,217.0,2,1.0,5,1
2,2212,28.0,NaN,7.0,1883.7,202.0,2,1.0,2,1
3,2216,56.0,200.0,0.0,850.0,194.0,2,1.0,5,1
4,2218,32.0,131.0,65.0,3200.0,200.0,2,1.0,2,1
5,2219,34.0,145.0,6.0,7000.0,196.0,2,5.0,2,1
6,2226,NaN,114.0,0.0,2171.5,178.0,2,2.0,1,1
7,2227,27.0,116.0,0.0,800.0,169.0,2,1.0,5,1
8,2228,26.0,182.0,6.0,3150.0,190.0,4,3.0,5,1
9,2230,25.0,154.0,1.0,2600.0,189.0,2,1.0,2,1

In [33]:
df_riesgos.tail(10)

,ID,edad,meses,max_ant,ingreso,score,tipo_vivienda,zona,nivel,riesgo
4490,1486,59.0,288.0,0.0,30000.00,207.0,2,1.0,2,0
4491,1487,55.0,294.0,57.0,9300.00,238.0,4,1.0,2,0
4492,1488,53.0,148.0,106.0,30000.00,219.0,4,1.0,2,0
4493,1491,29.0,198.0,94.0,5250.00,214.0,2,1.0,2,0
4494,1493,32.0,195.0,41.0,7500.00,219.0,2,1.0,2,0
4495,1494,54.0,510.0,87.0,24000.00,214.0,2,1.0,2,0
4496,1495,63.0,305.0,99.0,9880.73,219.0,2,5.0,2,0
4497,1496,48.0,194.0,124.0,23000.00,224.0,4,1.0,2,0
4498,1497,39.0,245.0,121.0,12450.00,240.0,4,5.0,2,0
4499,1499,65.0,674.0,38.0,20000.00,238.0,4,5.0,2,0

In [34]:
df_riesgos.isnull().sum()

ID                0
edad             13
meses             6
max_ant           4
ingreso           5
score             5
tipo_vivienda     0
zona              6
nivel             0
riesgo            0
dtype: int64

In [35]:
df_primeras100filas = df_riesgos.head(100).copy()

In [36]:
df_primeras100filas

,ID,edad,meses,max_ant,ingreso,score,tipo_vivienda,zona,nivel,riesgo
0,2208,33.0,128.0,6.0,3230.00,192.0,2,3.0,2,1
1,2211,32.0,185.0,7.0,2930.00,217.0,2,1.0,5,1
2,2212,28.0,NaN,7.0,1883.70,202.0,2,1.0,2,1
3,2216,56.0,200.0,0.0,850.00,194.0,2,1.0,5,1
4,2218,32.0,131.0,65.0,3200.00,200.0,2,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...
95,2387,41.0,141.0,0.0,3420.36,214.0,4,2.0,1,1
96,2389,29.0,159.0,17.0,1157.06,163.0,2,4.0,2,1
97,2391,27.0,122.0,NaN,2000.00,188.0,2,1.0,2,1
98,2392,35.0,111.0,0.0,812.53,177.0,2,1.0,5,1
99,2394,28.0,137.0,0.0,2000.00,175.0,3,1.0,5,1